services:
  portfolio:
    build: .
    container_name: portfolio
    restart: unless-stopped
    environment:
      - PORT=5000
    ports:
      - "5000:5000"
    networks:
      - cloudflare

networks:
  cloudflare:
    external: true